	<div class="container">
		<h4>Votre banque n'a jamais été aussi proche de vous</h4>
		<div class="row">
			<div class="col-sm-3">
			<h3>Votre carte bancaire à 0 €</h3>
				<p>
Si vous réalisez plus de 6 000 € d'achats par an avec votre carte bancaire (Visa Classic ou Visa Premier) :</br>
* la première année, vous bénéficiez du remboursement de la cotisation de votre carte et de celle de votre compte à la date d'anniversaire de votre carte) ;</br>
* les années suivantes, la cotisation de votre carte est intégralement remboursée.</p>
			</div>
			<div class="col-sm-3">
			<h3>Un compte bancaire rémunéré</h3>
				<p>
* Vos liquidités sur votre compte sont rémunérées jusqu'à 1 % annuel brut dès le premier euro et jusqu'à 10 000 €.</br>
* Pour bénéficier de cette rémunération, vos paiements annuels par carte bancaire doivent être supérieurs à 6 000 €.</p>
			</div>
			<div class="col-sm-3">
			<h3>Gérez votre Livret Jeune librement et en temps réel</h3>
				<p>
* Vous recevez des alertes e-mail ou SMS à chaque retrait de votre compte sur livret, avec possibilité d’alertes aux parents.</br>
* Vous gérez votre livret d’épargne en temps réel depuis votre Espace Client sécurisé, sur votre mobile ou par téléphone (numéro non surtaxé).</p>
			</div>
			<div class="col-sm-3">
			<h3>Profitez de l’un des meilleurs taux bancaires du marché</h3>
				<p>
Label Excellence 2015 Livret Jeune </br>
*Le taux d’intérêt du Livret Jeune : 2,75 % jusqu’à 1 600 €.</br>
*Pas d’impôts ni de prélèvements sociaux sur les intérêts du Livret Jeune(2).</p>
			</div>
			<div class="clearfix visible-lg"></div>
		</div>
	</div>

