	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p></p>
			</div>
			<div class="col-sm-6 PresentationBanque">
				<p>
					<h4>Présentation de LaBanque</h4><br/><br/>
				</p>
			</div>
			<div class="col-sm-3">
				<p></p>
			</div>
		</div>
		<div class = "row">
			<div class="col-sm-1">
				
			</div>
			<div class="col-sm-6">
				<div class = "contient">
					La Banque postale est une banque publique française née le 1er janvier 2006, héritière des services financiers de La Poste (Centre de chèques postaux et Caisse nationale d'épargne). Elle est filiale à 100 % du groupe La Poste.
					 <br/><br/>
					La Banque Postale reste toutefois dépositaire d'une mission de service public d'accessibilité bancaire : obligation d'ouvrir gratuitement un Livret A à toute personne qui en fait la demande, gratuité des opérations à partir d'1,50 euro, possibilité d'effectuer des virements et des prélèvements depuis le Livret A sans transiter par un compte courant... D'un point de vue marketing, elle utilise cette mission pour se positionner comme une banque responsable et accessible à tous en mettant en avant son slogan « Banque et Citoyenne ».

Aujourd'hui, la Banque Postale propose une gamme complète de produits et de services bancaires (prêt personnel, prêt immobilier, épargne et placement, comptes courants) et d'assurance.

Malgré la « filialisation » de 2006, ses produits sont toujours distribués dans les 17.000 bureaux de poste, ainsi que dans quelques agences bancaires. Son réseau est complété par plus de 5.000 distributeurs automatiques. Depuis 2013, la banque propose également un nouveau mode de relation avec ses clients avec son service à distance nommé « La Banque Postale chez Soi ».

A la fin 2013, la Banque Postale comptait 10,6 millions de clients actifs pour 11,6 millions de comptes courants ouverts, associés à plus de 7,2 millions de cartes bancaires. Son encours d'épargne et de dépôts à vue s'établissait à 293,8 milliards d'euros, dont 64,8 milliards pour le seul Livret A.
				</div>
			</div>
			<div class="col-sm-1">
				
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>
	</div>