.TitreOffres
{
	text-align: center;
	font-style: italic;
	font-size: 10px;
}
.LivretA{
	font-size:30px;
	color:#FF910D;
	font-weight : bold;
}
.sologanLivretA{
	font-size:15px;
}
.DefLivretA{
	font-size:30px;
	color:#FF910D;
	font-weight: bold;
}