@(registrationForm: Form[formData.rappelMotDePasse.RappelMotdePasse]) 

@import views.html.main 
@import play.api.mvc.Result
@import helper.form 
@import views.html.formTool._

<div class="container">
	@form(controllers.routes.Inscription.rappelMotDePasse(), 'class ->
	"form-horizontal"){
	<fieldset>
		<div class="col-sm-12 visible-xs" style="height: 60px;"></div>
		@inputTypeEmail(registrationForm("email"), label="Mail*", placeholder="Entrez votre email")
	</fieldset>
	<div class="col-sm-7"></div>
	<div class="col-sm-1">
		<button id="submit" type="submit" value="Submit"
			class="btn btn-success">Envoyer</button>
	</div>
	}
</div>
