@(user : User)
@main("Confirmation d'inscription"){

	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-4">
			<p>Bienvenu <b>@user.firstName @user.lastName</b>. Un mail vous sera envoyé à l'adresse <b>@user.email</b>. En quoi La Banque Postale est-elle une banque accessible à tous ?
La Banque Postale est la banque de l’accessibilité bancaire. 
Au-delà de sa mission de service public, elle s’est engagée à lutter contre l’exclusion bancaire 
et à accueillir avec considération toute personne, quelle que soit sa condition, grâce au réseau des Bureaux de poste.
La banque tient à privilégier une relation pérenne et de confiance avec ses clients, 
c’est pourquoi les tarifs sont établis pour tous, à l’échelle nationale sans distinction vis-à-vis de l’outre mer ou d’une région à l’autre.</p>
		</div>
		<div class="col-sm-5"></div>
	</div>
	
}