@(registrationForm: Form[formData.userRegister.NewUserData])

@import views.html.main
@import play.api.mvc.Result
@import helper.form
@import views.html.formTool._
@import page.inscription._

@main("Créez votre compte"){
	<div class="container">
	@form(controllers.routes.Inscription.addUser(), 'class -> "form-horizontal") {
	<fieldset>
	<div class="col-sm-12 visible-xs" style="height:60px;">
	</div>
	@inputTextLine(registrationForm("firstName"), label="Prénom", placeholder="Entrez votre prénom")
	@inputTextLine(registrationForm("lastName"), label="Nom", placeholder="Entrez votre Nom")
	@inputTypeEmail(registrationForm("email"), label="Mail", placeholder="Entrez votre email")
	<div class= "col-sm-4"></div>
	<div class = "col-sm-4">
		@if(flash.containsKey("error")) {
	        <div class="">
	        	<strong style = "color : #d9534f;">@flash.get("error")</strong>
	        </div>
		}
	</div>
	<div class= "col-sm-4"></div>
	<div class="row"></div>
	@inputTelephone(registrationForm("telephone"), label="Telephone", placeholder="Entrez votre Téléphone")
	@inputPassword(registrationForm("password"), label="Mot de Passe", id="password", placeholder="Entrez votre mot de passe")
	@inputPassword(registrationForm("confirmPassword"), label="Confirmation du mot de Passe", placeholder="Entrez à nouveau votre mot de passe")
	<div class= "col-sm-4"></div>
	<div class = "col-sm-4">
		@if(flash.containsKey("error1")){
		 	<div class="">
		    	<strong style = "color : #d9534f;">@flash.get("error1")</strong>
		    </div>
		}
	</div>
	<div class= "col-sm-4"></div>  
	<div class="row"></div>
	@inputTextLine(registrationForm("sex"), label="Sexe", placeholder="Entrez votre genre")
	@inputTextHidden(registrationForm("releveIdentiteBancaire"), label="", placeholder="Relevé d'identité bancaire", value="1")
	
	@inputTextHidden(registrationForm("releveIdentiteBancaire"), label="", placeholder="Admin?", value="")
	</fieldset>
	<div class="col-sm-7"></div>
	<div class="col-sm-1">
	<button id="submit" type="submit" value="Submit" class="btn btn-success">S'inscrire
	</button>
	</div>
}

	</div>

}