

@main("cartes"){
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-9">
				<div class="well well-sm">
					<fieldset>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-7">
								<div class="LivretA">Cartes</div>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-6">
								<div class="sologanLivretA"></div>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">

							<div class="col-sm-9"></div>
							<div class="col-sm-3">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-warning">Souscrire
										en ligne</button>
								</div>

							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<div class="contient">
			<h3>Votre carte bancaire à 0 €</h3>
				<p>Si vous réalisez plus de 6 000 € d'achats par an avec votre carte bancaire (Visa Classic ou Visa Premier) :</br>
* la première année, vous bénéficiez du remboursement de la cotisation de votre carte</br> et de celle de votre compte à la date d'anniversaire de votre carte) ;</br></br>
* les années suivantes, la cotisation de votre carte est intégralement remboursée.</p>
			</div>
		</div>
	</div>


	}