@main("compte courant"){
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-9">
				<div class="well well-sm">
					<fieldset>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-7">
								<div class="LivretA">Compte courant</div>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-6">
								<div class="sologanLivretA"></div>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">

							<div class="col-sm-9"></div>
							<div class="col-sm-3">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-warning">Souscrire
										en ligne</button>
								</div>

							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<div class="contient">
				Le compte courant est une variété de compte bancaire réservé à l’usage professionnel de son titulaire, caractérisé par la réciprocité des remises
susceptibles d’y être inscrites et leur fusion instantanée génératrice d’un solde unique faisant apparaître une créance ou une dette exigible.
 Il sert à enregistrer toutes les opérations avec la banque, relatives à l’activité professionnelle (dépôts, retraits, paiements, encaissements, paiements
des effets domiciliés…). 
				<br />
			</div>
		</div>
	</div>


	}