@main("compte courant"){
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h3 class="text-info">
				Souscrire à un compte courant
			</h3>
			<p>
			Toute personne, <strong>majeure ou mineure</strong> (avec l’accord du représentant légal) peut ouvrir un compte individuel, joint ou indivis. Un même titulaire peut détenir un ou <strong>plusieurs</strong> comptes. Aucun versement initial n’est demandé à l’ouverture du compte.
			</p>
			
			<h4 class="text-info">Avec votre compte bancaire, vous pouvez :</h4>
				<ul>
					<li>Domicilier vos revenus (salaires, pensions de retraite…) avec le Service d’Accueil.</li>
					<li>Choisir vos moyens de paiement : carte bancaire (1) et/ou chéquier (1) (format « classique » ou « portefeuille » avec un renouvellement automatique ou à la demande).</li>
					<li>Bénéficier d’un découvert autorisé (3) pour faire face aux imprévus.</li>
					<li>Recevoir votre relevé de compte par Internet (e-relevé) ou par courrier.</li>
					<li>Consulter et gérer votre compte à tout moment 24H/24 et 7j/7 par téléphone, Internet ou Internet Mobile.</li>
					<li>Protéger vos moyens de paiement contre la perte ou le vol avec Alliatys ou Alliatys Plus (4).</li>
					<li>Placer vos excédents de trésorerie sans avoir à y penser avec Régulys et C.CéPargne.</li>
				</ul>
		<div class="col-sm-12" style="height: 25px;" ></div>
			<h4 class="text-info">
				Rappel des offres la Banque du Net
			</h4>
			<div style="height:20px;"></div>
			
			<table class="table" style="text-align:center;">
				<thead>
					<tr class="info">
						<th style="text-align:center;">
							Produit 
						</th>
						<th style="text-align:center;">
							Plancher
						</th>
						<th style="text-align:center;">
							Plafond
						</th>
						<th style="text-align:center;">
							Status
						</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>Livret A</td>
						<td>aucun + il ne doit pas être débiteur (1,5 € pour un établissement)</td>	
						<td>22 950 € hors intérêts</td>	
						<td>1 %</td>
					</tr> 
					<tr class="active">
						<td>Plan Epargne Logement</td>	
						<td>225 €</td>	
						<td>61 200 € hors intérêts</td>	
						<td>2 % hors prime</td>
					</tr>
				</tbody>
			</table>
			
			
			<small>
				(1) L’ouverture d’un compte et la délivrance des moyens de paiement sont soumises à l'acceptation du dossier par La Banque Postale ainsi qu'à l'autorisation du représentant légal pour les clients mineurs.<br>
				(2) Pour une demande d’ouverture de compte à distance, par Internet ou par téléphone, un versement initial de 20€ minimum est nécessaire.<br>
				(3) Sous réserve d’acceptation du dossier. Taux nominal annuel, susceptible de modification. La durée d'utilisation de votre découvert est de 30 jours consécutifs maximum.<br>
				(4) Dans les limites et conditions de la notice d’information Alliatys.<br>
			</small>
			
		</div>
		<div class="col-md-4 column">
			<h3 class="text-muted">
				Ouvrez votre compte chez nous
				<h3 style="visibility: hidden"></h3>
			</h3> 
			<button type="button" onclick="self.location.href='@routes.Souscription.compteCourant1()'"class="btn btn-block btn-info">Rejoignez votre banque</button>
			<div style="height: 50px;"></div>
			<form method="get" action="@routes.Assets.at("documents/Convention_de_compte_CCP.pdf")"><button type="submit" class="btn btn-block btn-default"><span class="glyphicon glyphicon-floppy-disk"></span>    Convention de compte</button></form>
			<div style="height: 10px;"></div>
			<form method="get" action="@routes.Assets.at("documents/pdf_guide_mobilite_bancaire_2014.pdf")"><button type="submit" class="btn btn-block btn-default"><span class="glyphicon glyphicon-floppy-disk"></span>    Guide de mobilité bancaire</button></form> 
		</div>
	</div>
</div>

}