@main("inscription"){
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-9">
				<div class="well well-sm">
					<fieldset>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-7">
								<div class="LivretA">Livret A</div>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-6">
								<div class="sologanLivretA">
									Un produit simple et sans risque, pour épargner avec plus<br />
									de liberté
								</div>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">

							<div class="col-sm-8"></div>
							<div class="col-sm-4">
								<button type="button" class="btn btn-warning">Souscrire
									en ligne</button>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<p></p>
		</div>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="DefLivretA">Qu'est ce qu'un Livret A ?</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<p></p>
		</div>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="">Le livret A est un compte d'épargne réglementé
					de droit français, exonéré d'impôt et de prélèvement obligatoire.<br/>
					C'est le placement le plus utilisé en France.</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>

}