@main("Plan d'Epargne Logement"){
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h3 class="text-info">
				Souscrire à un PEL
			</h3>
			<p>
				Vous cherchez à vous constituer un apport personnel en vue d’un projet immobilier (achat ou rénovation de votre résidence principale) ? Le Plan Epargne Logement (PEL) (1) vous permet d’épargner régulièrement et de demander, dès ses 3 ans, un prêt Epargne Logement* à taux préférentiel.
			</p>
			
			<h4 class="text-info">Le PEL vous offre de nombreux avantages :</h4>
			<ul>
				<li>Une rémunération garantie et attractive : 2% bruts (2) (hors prime d'État) pendant toute la durée du PEL.</li>
				<li>Une épargne souple et progressive : des versements d’un montant minimum de 540 € par an avec la possibilité de mettre en place des versements programmés à partir de 45 € par mois.</li>
				<li>Une fiscalité avantageuse : les intérêts du PEL sont totalement exonérés d’impôt sur le revenu avant 12 ans (2).</li>
				<li>Optimisez votre Epargne Logement en combinant un PEL et un CEL (1) (Compte Epargne Logement) : vous alliez ainsi la sécurité du PEL à la souplesse du CEL !</li>
			</ul>
			
			<h4 class="text-info">Avec votre PEL, vous pouvez :</h4>
			<ul>
				<li>Vous bénéficiez d’une prime d’Etat en cas de prêt Epargne Logement* d’un montant minimum de 5 000€ (4). Cette prime peut porter la rémunération de votre PEL jusqu’à 3% bruts..</li>
				<li>Chaque membre de votre famille peut détenir un PEL, même votre enfant dès son plus jeune âge.</li>
				<li>Vous pouvez, sous certaines conditions, céder les droits à prêt de votre PEL à votre enfant pour augmenter ses possibilités de prêt.</li>
				<li>Optimisez votre Epargne Logement en combinant un PEL et un CEL (1) (Compte Epargne Logement) : vous alliez ainsi la sécurité du PEL à la souplesse du CEL !</li>
			</ul>
			<div class="col-sm-12" style="height: 25px;" ></div>
			<h4 class="text-info">
				Rappel des offres la Banque du Net
			</h4>
			<div style="height:20px;"></div>
			
			<table class="table" style="text-align:center;">
				<thead>
					<tr class="info">
						<th style="text-align:center;">
							Produit 
						</th>
						<th style="text-align:center;">
							Plancher
						</th>
						<th style="text-align:center;">
							Plafond
						</th>
						<th style="text-align:center;">
							Status
						</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>Livret A</td>
						<td>aucun + il ne doit pas être débiteur (1,5 € pour un établissement)</td>	
						<td>22 950 € hors intérêts</td>	
						<td>1 %</td>
					</tr> 
					<tr class="active">
						<td>Plan Epargne Logement</td>	
						<td>225 €</td>	
						<td>61 200 € hors intérêts</td>	
						<td>2 % hors prime</td>
					</tr>
				</tbody>
			</table>
			
			<small>
				(1) Ouverture et fonctionnement soumis à conditions. Un seul PEL et un seul CEL par personne.<br/>
	
				(2) Taux en vigueur au 01/02/2015, hors prime d’Etat. Les intérêts du PEL sont soumis aux prélèvements sociaux de 15,5 % (fiscalité applicable au 01/01/2015 pour les particuliers fiscalement domiciliés en France). De plus, les intérêts acquis à partir du 12ème anniversaire du PEL sont imposables au barème progressif de l'impôt sur le revenu. Ces intérêts sont soumis, lors de la capitalisation, à un prélèvement fiscal de 24 % restituable sous forme de crédit d'impôt. Le titulaire peut toutefois, dans certaines conditions, demander une dispense de prélèvement fiscal (fiscalité applicable au 01/01/2015 pour les particuliers fiscalement domiciliés en France).<br/>
	
				(3) Taux actuariel annuel brut en vigueur au 01/02/2015, hors assurance, pour un PEL ouvert depuis le 01/02/2015.<br/>
	
				(4) La prime d'Etat est exonérée d'impôt sur le revenu mais soumise aux prélèvements sociaux de 15,5 % (fiscalité applicable au 01/01/2015 pour les particuliers fiscalement domiciliés en France).<br>
			</small>
			
		</div>
		
		<div class="col-md-4 column">
			<h3 class="text-muted">
				Souscrivez à un PEL
				<h3 style="visibility: hidden"></h3>
			</h3> 
			<button type="button" onclick="self.location.href='@routes.Souscription.compteCourant1()'"class="btn btn-block btn-info">Souscrire en ligne</button>
			<div style="height: 50px;"></div>
			<form method="get" action="@routes.Assets.at("documents/Convention_de_compte_CCP.pdf")"><button type="submit" class="btn btn-block btn-default"><span class="glyphicon glyphicon-floppy-disk"></span>    Convention de compte</button></form>
			<div style="height: 10px;"></div>
			<form method="get" action="@routes.Assets.at("documents/pdf_guide_mobilite_bancaire_2014.pdf")"><button type="submit" class="btn btn-block btn-default"><span class="glyphicon glyphicon-floppy-disk"></span>    Guide de mobilité bancaire</button></form> 
		</div>
	</div>
</div>

}