@main("PEL"){
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-9">
				<div class="well well-sm">
					<fieldset>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-7">
								<div class="LivretA">PEL</div>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-6">
								<div class="sologanLivretA">
									Un bon apport personnel en vue d'un <br /> projet immobilier
								</div>
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">

							<div class="col-sm-9"></div>
							<div class="col-sm-3">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-warning">Souscrire
										en ligne</button>
								</div>

							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<div class="contient">
			<h3>Un PEL pour une pelle</h3>
				<p>
* Le PEL, le livret indispensable</br>
* Le PEL de Développement Durable, complémentaire au Livret A</br>
* Le PEL de LaBanque, simple et performant</br>
* Découvrir notre gamme de produits d’épargne</br>
				</p>
				<br />
			</div>
		</div>
	</div>


	}