@(field: Field, label: String = "CHANGEME", help:String = "")

@import java.util.Locale

@defining(Calendar.getInstance().getTime().format("dd-MM-yyyy")) { today =>
	<div class="form-group">
	    <label class="col-sm-2 control-label">@label</label>
		<div class="col-sm-10 pull-right">
			<div id="@field.name" class="input-append input-group dtpicker">
				<input name="@field.name" data-format="dd-MM-yyyy"
					class="form-control" type="text"
					value="@field.value.getOrElse(today)">
				<span class="input-group-addon add-on">
					<i class="fa fa-calendar"
						data-time-icon="fa fa-times" data-date-icon="fa fa-calendar"></i>
				</span>
			</div>
		</div>
	</div>
}

<script>
$(function() {
    $('#@field.name').datetimepicker({
      pickTime: true
    });
});
</script>
