@(field: Field, label:String = "CHANGEME", id : String = "", placeholder: String = "", help: String = "")
	
	<style>
		.alertInfo{
			color: #FFF;
  			background-color: #d9534f;
		}
		.alertFaible{
			color: #FFF;
		  	background-color: #f0ad4e;
		}
		.alertMoyen{
			color: #FFF;
  			background-color: #3a87ad;
		}
		.alertFort{
			color: #FFF;
			background-color: #5cb85c;
		}
	</style>
	
	<script>
		$(document).ready(function () {
		    $('#@id').keyup(function (e) {
		        // Must have capital letter, numbers and lowercase letters
		        var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
		
		        // Must have either capitals and lowercase letters or lowercase and numbers
		        var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
		
		        // Must be at least 6 characters long
		        var okRegex = new RegExp("(?=.{6,}).*", "g");
		
		        if (okRegex.test($(this).val()) === false) {
		            // If ok regex doesn't match the password
		            $('#force_mdp').removeClass().addClass('alertInfo').html('Trop court');
		            $('#pwdStrengthProgress').css('width', '7%');
		            $('#pwdStrengthProgress').removeClass('progress-bar-danger progress-bar-warning progress-bar-success alertInfo alertFaible alertMoyen alertFort').addClass('alertInfo');
		            $('#pwdStrengthLabel').html('Trop court');
		            $('#pwdStrengthLabel').removeClass('progress-bar-danger progress-bar-warning progress-bar-success alertInfo alertFaible alertMoyen alertFort').addClass('alertInfo');
		
		        } else if (strongRegex.test($(this).val())) {
		            // If reg ex matches strong password
		            $('#force_mdp').removeClass().addClass('alertFort').html('Fort');
		            $('#pwdStrengthProgress').css('width', '90%');
		            $('#pwdStrengthProgress').removeClass('progress-bar-danger progress-bar-warning progress-bar-success alertInfo alertFaible alertMoyen alertFort').addClass('alertFort');
		            $('#pwdStrengthLabel').html('Fort');
		            $('#pwdStrengthLabel').removeClass('progress-bar-danger progress-bar-warning progress-bar-success alertInfo alertFaible alertMoyen alertFort').addClass('alertFort');
		        } else if (mediumRegex.test($(this).val())) {
		            // If medium password matches the reg ex
		            $('#force_mdp').removeClass().addClass('alertMoyen').html('Moyen');
		            $('#pwdStrengthProgress').css('width', '60%');
		            $('#pwdStrengthProgress').removeClass('progress-bar-danger progress-bar-warning progress-bar-success alertInfo alertFaible alertMoyen alertFort').addClass('alertMoyen');
		            $('#pwdStrengthLabel').html('Moyen');
		            $('#pwdStrengthLabel').removeClass('progress-bar-danger progress-bar-warning progress-bar-success alertInfo alertFaible alertMoyen alertFort').addClass('alertMoyen');
		        } else {
		            // If password is ok
		            $('#force_mdp').removeClass().addClass('alertFaible').html('Faible');
		            $('#pwdStrengthProgress').css('width', '25%');
		            $('#pwdStrengthProgress').removeClass('progress-bar-danger progress-bar-warning progress-bar-success alertInfo alertFaible alertMoyen alertFort').addClass('alertFaible');
		            $('#pwdStrengthLabel').html('Faible');
		            $('#pwdStrengthLabel').removeClass('progress-bar-danger progress-bar-warning progress-bar-success alertInfo alertFaible alertMoyen alertFort').addClass('alertFaible');
		        }
		
		        return true;
		    });
		});
	</script>
	
  <div class="form-group @if(field.hasErrors) {has-error}">
  	<div class="col-sm-2"></div>
    <label class="col-sm-2 control-label">@label</label>
    <div class="col-sm-4">
      <input
       	type="password"
        class="form-control"
        id="@id"
        name="@field.name"
        value="@field.value.getOrElse("")"
        placeholder="@placeholder" 
       />
<!--         <div id="force_mdp"></div> -->
    	<div id = "bar-progress" style="height: 7px; margin-bottom: 0px;">
        	<div class="progress-bar" id="pwdStrengthProgress" style="width: 0%;"></div>
    	</div>
    	<span class="label" id="pwdStrengthLabel" style="position: relative;float: right;"></span>
      	<span class="help-block">@help</span>
      	<span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
  </div>
