@(modalId: String, title: String, onCallAction: Call)(formContent: Html)

@import helper._

<div style="display: none;" id="@modalId" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	<div class="modal-dialog">
		<div class="modal-content">
		
			<form method="POST" action="@onCallAction" class="form-horizontal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">@title</h4>
				</div>
				
				<div class="modal-body">
					<div calss="container">
						@formContent
					</div>
				</div>
				
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit">Ok</button>
				</div>
				
			</form>
		</div>
	</div>

</div>

<script>

$('#@modalId').appendTo($('body'));

</script>