   <div class="row">
    <div class="col-sm-4 hidden-xs"><a href="@routes.Application.index()"><img class="logoHeader" width=200px src="@routes.Assets.at("images/logo-banque-du-net.png")"></div></a>
    <div class="col-sm-4 visible-xs EncartResponsiveTitre"></div>
    <div class="col-sm-4 hidden-xs"><h2 class="titreHeader">La banque à domicile</h2></div>
    <div class="col-sm-4 hidden-xs"><button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success BoutonHeader BoutonConnecter">Se connecter</button><a href="@routes.Inscription.Inscri()"><button type="button" class="btn btn-warning BoutonHeader BoutonCompte">Créer un compte</button></a></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal Content -->

       <div class="modal-content">
        <div class="modal-header" style="padding:15px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:black;">Connexion</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Identifiant</label>
              <input type="text" class="form-control" id="usrname" placeholder="Entrer email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Mot de Passe</label>
              <input type="password" class="form-control" id="psw" placeholder="Entrer le Mot de Passe">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Se rappeler de moi</label>
            </div>
              <button type="submit" class="btn btn-default btn-success"><span class="glyphicon glyphicon-off"></span> Se Connecter</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal" style="margin-left: 34px;"><span class="glyphicon glyphicon-remove"></span> Annuler</button>
          <p>Toujours pas client la banque du net ?<a href="#"> S'inscrire</a></p>
          <p>Vous avez oublié votre <a href="#">Mot de passe?</a></p>
        </div>
      </div>
      
    </div>
  </div> 
</div>
 
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>
    <!-- Fin du modal -->
    


    <!-- <div class="col-sm-4 visible-xs"><button type="button" class="btn btn-success BoutonHeaderResponsive BoutonConnecterResponsive">Se connecter</button></div>
    <div class="col-sm-4 visible-xs"><button type="button" class="btn btn-warning BoutonHeaderResponsive BoutonCompteResponsive">Créer un compte</button></div> -->
<!--    <div class="col-sm-2"><button type="button" class="btn btn-success BoutonHeader BoutonCompte">Créer un compte</button></div> -->
  </div>
    <nav class="navbar navbar-default navbar-fixed-top hidden-xs">
    <div class="container-fluid">
  <!--   <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="logoNavbar" src="logo-banque-du-net.png"></a>
    </div> -->
    <div>
      <ul class="nav navbar-nav listeMenu">
        <li class="active"><a href="@routes.Application.index()">Accueil</a></li>
        <li><a href="@routes.Presentation.PresentationBanque()">Présentation de la banque</a></li>
        
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Offres <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Offres.CompteCourant()">Compte courant</a></li>
              <li><a href="@routes.Offres.Cartes()">Cartes</a></li>
              <li><a href="@routes.Offres.LivretA()">Livret A</a></li>
              <li><a href="@routes.Offres.PEL()">PEL</a></li>
            </ul>
          </li>
        <li></li>
      </ul>
    </div>
      </div>
  </nav>

  <nav class="navbar navbar-default navbar-fixed-top visible-xs">
    <div class="container-fluid">
  <!--   <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="logoNavbar" src="logo-banque-du-net.png"></a>
    </div> -->
    <div class="row">
      <ul class="nav navbar-nav listeMenuResponsive">
        
        <li>
          <img class="LogoResponsiveNav" src="@routes.Assets.at("images/logo-banque-du-net.png")">  
          <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-xs btn-success">Se connecter</button>
          <a href="@routes.Inscription.Inscri()"><button type="button" class="btn btn-warning btn-xs">Créer un compte</button></a>
        </li>

        <li class="active"><a href="@routes.Application.index()">Accueil</a></li>
        <li><a href="@routes.Presentation.PresentationBanque()">Présentation de la banque</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#2">Offres <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Offres.CompteCourant()">Compte courant</a></li>
              <li><a href="@routes.Offres.Cartes()">Cartes</a></li>
              <li><a href="@routes.Offres.LivretA()">Livret A</a></li>
              <li><a href="@routes.Offres.PEL()">PEL</a></li>
            </ul>
          </li>
        <li></li>
      </ul>
    </div>
      </div>
  </nav>