<!DOCTYPE html>
<html>
<head>
	<title>Présentation de la banque - La banque Nationale</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"
		href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/Presentation.css")">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	@header()
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p></p>
			</div>
			<div class="col-sm-6 PresentationBanque">
				<p>
					<h4>Présentation de LaBanque</h4><br/><br/>
				</p>
			</div>
			<div class="col-sm-3">
				<p></p>
			</div>
		</div>
		<div class = "row">
			<div class="col-sm-1">
				
			</div>
			<div class="col-sm-6">
				<div class = "contient">
					On the other hand, we denounce with righteous indignation and
					dislike men who are so beguiled and demoralized by the charms of
					pleasure of the moment, so blinded by desire, that they cannot
					foresee the pain and trouble that are bound t <br/><br/>
					
					On the other hand, we denounce with righteous indignation and
					dislike men who are so beguiled and demoralized by the charms of
					pleasure of the moment, so blinded by desire, that they cannot
					foresee the pain and trouble that are bound t <br/><br/>
					
					On the other hand, we denounce with righteous indignation and
					dislike men who are so beguiled and demoralized by the charms of
					pleasure of the moment, so blinded by desire, that they cannot
					foresee the pain and trouble that are bound t <br/><br/>
				</div>
			</div>
			<div class="col-sm-1">
				
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>
	</div>
	<!--Footer-->
	@footer()
</body>
</html>