<div class="row">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-84391">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-84391">
					</li>
					<li data-slide-to="1" data-target="#carousel-84391">
					</li>
					<li data-slide-to="2" data-target="#carousel-84391">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="@routes.Assets.at("images/PEL.jpg")" width="360" height="245"/>
						<div class="carousel-caption">
							<h2>
								<a href="@routes.Offres.PEL()">Plan d'Epargne Logement</a>
							</h2>
							<p>
								<h3>N'attendez pas vos 50 ans !</h3>
							</p>
						</div>
					</div>
					<div class="item">
						<img src="@routes.Assets.at("images/LivretA.jpg")" width="360" height="245"/>
						<div class="carousel-caption">
							<h2>
								<a href="@routes.Offres.LivretA()">Livret A</a>
							</h2>
							<p>
								<h3>Eh oui l'épargne c'est dès maintenant</h3>
							</p>
						</div>
					</div>
					<div class="item">
						<img src="@routes.Assets.at("images/Cartes.jpg")" width="360" height="245"/>
						<div class="carousel-caption">
							<h2>
								<a href="@routes.Offres.Cartes()">Cartes Bancaires</a>
							</h2>
							<p>
								<h3>Elles vous accompagnent partout</h3>
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-84391" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-84391" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>