@(registrationForm: Form[formData.profil.ModifProfil], user : User)

@import views.html.main
@import play.api.mvc.Result
@import helper.form
@import views.html.formTool._
@import page.userOverview._

@main("Modifier votre pofil"){
	<div class="row">@avatar(User.findByEmail(session().get("email")))</div>
	
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>
	
		<div class="container">
			@form(controllers.routes.Profil.modifProfil(), 'class -> "form-horizontal") {
			<fieldset>
				<div class="col-sm-12 visible-xs" style="height:60px;">
				</div>
				<div class="row"></div>
				@inputTelephone(registrationForm("telephone"), label="Telephone*", placeholder="Entrez votre Téléphone")
				@inputPassword(registrationForm("passwordHash"), label="Mot de Passe*", id="password", placeholder="Entrez votre mot de passe")
				@inputPassword(registrationForm("confirmPassword"), label="Confirmation du mot de Passe*", placeholder="Entrez à nouveau votre mot de passe")
				<div class= "col-sm-4"></div>
				<div class = "col-sm-4">
					@if(flash.containsKey("error1")){
					 	<div class="">
					    	<strong style = "color : #d9534f;">@flash.get("error1")</strong>
					    </div>
					}
				</div>
				<div class= "col-sm-4"></div>  
				<div class="row"></div>
				<div class= "col-sm-1" style="margin-left: 82px;"></div>
			</fieldset>
			<div class="col-sm-7"></div>
			<div class="col-sm-1">
				<button id="submit" type="submit" value="Submit" class="btn btn-success">Modifier
				</button>
			</div>
	}
		</div>
}